@{
    ViewData["Title"] = "BootstrapTable";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}


<div class="container">
    <h2 class="mb-4">Bootstrap Table 匯出功能示例</h2>

    <div id="toolbar" class="mb-3">
        <select class="form-select" style="width: 200px;">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>

    <table id="EmpTable"
           data-show-export="true"
           data-pagination="true"
           data-side-pagination="server"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-footer="true">
       </table>

</div>


<!-- Bootstrap Table JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/bootstrap-table.min.js"></script>
<!-- Bootstrap Table Export Extension -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
@* <!-- TableExport -->
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/tableExport.min.js"></script>
<!-- PdfExport -->
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.29.0/libs/jsPDF/jspdf.umd.min.js"></script> *@
<script src="~/lib/pdfmake/pdfmake.min.js" asp-append-version="true"></script>
<script src="~/lib/pdfmake/gbsn00lp_fonts.js" asp-append-version="true"></script>
<script src="~/lib/tableExport.min.js" asp-append-version="true"></script>

<script>

     $(function () {
        $('#toolbar').find('select').change(function () {
            $('#EmpTable').bootstrapTable('destroy').bootstrapTable({
                method: 'get',
                url: '/UserData/GetUserData', 
                contentType: 'application/json',
                dataType: 'json',
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'excel', 'pdf'],
                exportOptions: {
                    fileName: 'ExportPDF',
                    pdfmake: {enabled:true},
                },
                pagination: true,
                sidePagination: 'server',
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        visible: $(this).val() === 'selected'
                    },
                    {
                        field: 'userId',
                        title: 'ID',
                    },
                    {
                        field: 'userName',
                        title: '姓名',
                    },
                    {
                        field: 'userSex',
                        title: '性別',
                    },
                    {
                        field: 'userBirthDay',
                        title: '生日',
                    },
                    {
                        field: 'userMobilePhone',
                        title: '手機',
                    }
                ]
            })
        }).trigger('change')
    })

</script>

<style>
    #toolbar {
        margin: 0;
    }
</style>


