html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*--ºPÅ|icon ±±¨î*/

[aria-expanded="false"] .menu__icon--open {
    display: inline;
}



[aria-expanded="false"] .menu__icon--close {
    display: none;
}



[aria-expanded="true"] .menu__icon--open {
    display: none;
}



[aria-expanded="true"] .menu__icon--close {
    display: inline;
}


.card-header {
    background-color: #428bca
}