@using Microsoft.AspNetCore.Mvc.Controllers
@{
    var routeData = Context.GetRouteData();
    var currentController = routeData.Values["controller"]?.ToString();
    var currentAction = routeData.Values["action"]?.ToString();
}

<div class="d-flex pe-3 ps-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @if (currentController == "Home" && currentAction == "Index")
            {
                //不顯示首頁連結
            }
            else
            {
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首頁</a></li>
            }

            @if (currentController == "UserData" && currentAction == "Customer")
            {
                <li class="breadcrumb-item active" aria-current="page">客戶管理</li>
            }
            else if (currentController == "UserData" && currentAction == "List")
            {
                <li class="breadcrumb-item active" aria-current="page">人員清單</li>
            }
            else if (currentController == "UserData" && currentAction == "IndexPage")
            {
                <li class="breadcrumb-item active" aria-current="page">人員清單(分頁)</li>
            }
            else if (currentController == "UserData" && currentAction == "BootstrapTableList")
            {
                <li class="breadcrumb-item active" aria-current="page">清單(Bootstrap table)</li>
            }

        </ol>
    </nav>
</div>
