<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRUD_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CRUD_Project.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- startbootstrap -->
    <link rel="stylesheet" href="~/lib/startbootstrap/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/startbootstrap/css/style.min.css" asp-append-version="true" />
    <script src="~/lib/startbootstrap/js/all.js"></script>
    <script src="~/lib/startbootstrap/js/scripts.js"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-controller="Home" asp-action="Index">
            <img src="~/images/island_Logo.svg" alt="Island Logo" class="img-fluid" style="height: 50px;" />
        </a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" type="button">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Settings">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="ActivityLog">Activity Log</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">客戶</div>
                        <a class="nav-link" asp-controller="UserData" asp-action="Customer">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            客戶管理
                        </a>
                        <a class="nav-link" asp-controller="UserData" asp-action="CustModel">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            客戶測試模板
                        </a>

                        <div class="sb-sidenav-menu-heading">商品</div>
                        <a class="nav-link" asp-controller="UserData" asp-action="List">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            人員清單
                        </a>
                        <a class="nav-link" asp-controller="UserData" asp-action="IndexPage">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            人員清單(分頁)
                        </a>

                        <div class="sb-sidenav-menu-heading">報價</div>
                        <a class="nav-link" asp-controller="UserData" asp-action="BootstrapTableList">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            清單(Bootstrap table)
                        </a>

                        <div class="sb-sidenav-menu-heading">訂單</div>
                        <a class="nav-link" asp-controller="UserData" asp-action="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            訂購單維護
                        </a>

                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Test User
                </div>
            </nav>

        </div>

        <div id="layoutSidenav_content">
            <main>
                @await Html.PartialAsync("_Breadcrumb.cshtml")
                <div class="container-fluid px-4 mt-2">
                    @RenderBody()
                </div>
            </main>
        </div>

    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
