@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <img src="~/images/home_logo.png" alt="Home Logo" class="img-fluid" />
</div>
